@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
$primary-font: 'Roboto', sans-serif;
$primary-color: rgb(89, 201, 107);
html {
  scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: 500;
}

.header {
  width: 1280px;
  margin: 0 auto;
  display: flex;
}

.header img {
  width: 70px;
  height: 70px;
}

.header__title {
  flex-direction: column;
}

/*navbar*/

nav {
  .nav-menu {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
  }
  .nav-menu.active {
    box-shadow: rgb(6 5 50 / 10%) 0px 4px 30px;
  }
  .nav-menu__content {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline;
    padding-right: 25px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $primary-color;
  }
  .nav-menu.nav-menu_bold {
    font-weight: 600;
    font-size: large;
  }
}

/*------swiper------*/

.swiper-container {
  width: 1300px;
  height: 410px;
  z-index: 1;
}

.swiper-slide img {
  box-shadow: rgba(84, 87, 99, 0.5) 0px 2px 10px -2px;
  height: 350px;
  width: 1024px;
  margin-left: 126px;
  margin-top: 20px;
  border-radius: 20px;
}

/*-------main-------*/

.meal-preview {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  margin: 0 auto;
}

.meal-item {
  position: relative;
  width: 300px;
  min-height: 450px;
  margin: 10px;
}

.meal-item img {
  width: 250px;
  height: 250px;
  position: relative;
  z-index: 1;
}

.meal-item img:hover {
  bottom: 5px;
}

.meal-item__title {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  font-family: $primary-font;
}

.meal-item__subtitle {
  height: 100px;
  width: 250px;
  padding-top: 5px;
  text-align: left;
  font-family: $primary-font;
  font-weight: 300;
  font-size: 16px;
}

.meal-items__footer {
  width: 250px;
  height: 40px;
}

.meal-item__button {
  float: right;
}

.meal-item__price {
  float: left;
  margin-top: 8px;
}

.section-food-title {
  width: 1280px;
  margin: 0 auto;
}

/*-----modalView-----*/

.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.modal-window.active {
  opacity: 1;
  pointer-events: all;
}

.modal-review {
  overflow: auto;
  margin-top: 50px;
  width: 550px;
  max-height: 700px;
  background-color: white;
  max-width: 560px;
  min-height: 350px;
  max-height: 550px;
  z-index: 3;
}

.modal-review h1 {
  text-align: center;
}

.basket-items {
  display: flex;
  width: 480px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.basket-items img {
  width: 50px;
  height: 50px;
  text-align: center;
}

.basket-items__title {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  width: 165px;
}

.basket-items__price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 15px 0;
  width: 100px;
}

.modal-order-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 0px 15px 15px 0px;
  margin-top: 40px;
  font-size: 18px;
  font-family: $primary-font;
}

.modal-order-amount button {
  width: 170px;
  align-self: flex-end;
}

.basket-items__custom_btn {
  text-align: right;
  padding: 0px 15px 15px 0px;
}

.modal-order-amount__sum {
  font-weight: bold;
  font-size: 20px;
}

.modal__item button {
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

.empty-basket img {
  height: 125px;
  opacity: 0.8;
  width: 125px;
}

.empty-basket h5 {
  color: #746d6c;
}

.empty-basket {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.modal-button button {
  font-size: 18px;
}

/*footer*/

footer {
  width: 100%;
  background-color: rgb(250, 245, 245);

  .footer-wrapper {
    width: 1280px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  ul {
    column-count: 3;
    list-style-type: none;
    padding: 0;
  }
  li {
    padding-right: 35px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: $primary-color;
  }

  .footer__info {
    width: 550px;
    font-size: 14px;
    color: #a69895;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin: auto 0;
}

.social-media a > img {
  height: 40px;
}

.social-media a {
  transition: 1s;
  padding: 10px;
}

.social-media a:hover {
  transform: scale(1.2);
}