.wrapper {
    margin: 0 auto;
    width: 1280px;
    background-color: rgb(255, 255, 255);
}

.section__title{ margin: 32px 0px; }
.header__title_h {
    font-weight: bold;
    font-size: 24px;
}

.header__title_p { font-size: 14px; }
.header__title { display: flex; }
/*------slider------*/
.slider__wrapper {
    width: 1024px;
    margin: 0 auto;
}
.slider__container {
    overflow: hidden;
}
.slider__track{ 
    width: 1024px;
    height: 300px;
    display: flex;
    transition: .2s;
    position: relative;
}
.slider__item{ 
    box-shadow: rgba(84, 87, 99, 0.5) 0px 2px 10px -2px;
    image-rendering: auto;
    height: 300px;
    width: 900px;
    margin-right: 24px;
    border-radius: 20px;
}
.slider__item:nth-child(3n+1) {
    background-color: red;
}
.slider__item:nth-child(3n+2) {
    background-color: green;
}
.slider__item:nth-child(3n+3) {
    background-color: black;
}
/*-------main-------*/
.burger__preview {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.burger__item {
    width: 300px;
    height: 450px;
    margin: 10px;
}

.burger__item_title{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.burger__item_description {
    font-size: 14px;
    height: 100px;
    width: 250px;
    text-align: left;
}

.burger__items {
    width: 250px;
    align-items: center
}
.burger__item_button {
    float: right;
}

.burger__item_price {
    float: left;
}