.wrapper {
    margin: 0 auto;
    width: 1280px;
    background-color: rgb(255, 255, 255);
}

.section__title{
    margin: 32px 0px;
}
.header__title_h {
    font-weight: bold;
    font-size: 24px;
}

.header__title_p {
    font-size: 14px;
}
.header__title {
    display: flex;
}

.burger__preview {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.burger__item {
    width: 300px;
    height: 450px;
    margin: 10px;
}

.burger__item_title{
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.burger__item_description {
    font-size: 14px;
    height: 100px;
    width: 250px;
    text-align: left;
}

.burger__items {
    width: 250px;
    align-items: center
}
.burger__item_button {
    float: right;
}

.burger__item_price {
    float: left;
}