
body{
    background-color: rgb(80, 80, 80);
}

#root {
    background-color: rgb(80, 80, 80);
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
    background-color: rgb(255, 255, 255);
}

.header {
    height: 75px;
}

.header__title_h {
    font-weight: bold;
    font-size: 24px;
}

.header__title_p {
    font-size: 14px;
}
.header__title {
    display: flex;
}

.navigation {
    justify-content: right;
}

.burger__preview {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.burger__item {
    width: 300px;
    height: 450px;
    margin: 10px;
}

.burger__item_title{
    font-weight: bold;
    font-size: 18px;
}

.burger__item_description {
    font-size: 14px;
    height: 100px;
    width: 300px;
}

.burger__item_button {
    text-align: center;
}

.burger__item_price {
    text-align: center;
}